<div class="section-colored text-center cover cover-img">

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h1>Out &amp; About<img src="img/vector/whiteLogo.svg" alt="Out and About Logo"></h1>
                <h2>Ottawa</h2>
            </div>
            <p>Is it hot or cold&#63; Out &amp; About knows through the power of weather, where the seasonal sports, event, and current happening are taking place.</p>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section-colored -->

<div class="section">

    <div class="container activities">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <a ng-href="portfolio-item.html" id="parks" data-toggle="modal" data-target="#myModal">
                    <p>Parks</p>
                    <img class="img-responsive img-home-portfolio" ng-src="img/jpg/parks.jpg">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <a ng-href="portfolio-item.html" id="soccer" data-toggle="modal" data-target="#myModal">
                    <p>Soccer</p>
                    <img class="img-responsive img-home-portfolio" ng-src="img/jpg/soccer.jpg">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <a ng-href="portfolio-item.html">
                    <p>Basketball</p>
                    <img class="img-responsive img-home-portfolio" ng-src="img/jpg/basketball.jpg">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <a ng-href="portfolio-item.html">
                    <p>Tennis</p>
                    <img class="img-responsive img-home-portfolio" ng-src="img/jpg/tennis.jpg">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <a ng-href="portfolio-item.html">
                    <p>Skating</p>
                    <img class="img-responsive img-home-portfolio" ng-src="img/jpg/skating.jpg">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <a ng-href="portfolio-item.html">
                    <p>Baseball</p>
                    <img class="img-responsive img-home-portfolio" ng-src="img/jpg/ballDiamonds.jpg">
                </a>
            </div>
        </div>
        <!-- /.row -->
        
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Modal Header</h4>
                    </div>
                    <div ng-controller="PhoneListCtrl" class="modal-body">
                        <my-maps id="map-canvas" position="{{position}}"></my-maps>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- /.container -->

</div>
<!-- /.section -->